<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvsUyvqaxqr-3mlt9ZBP9PLuH8f80bPC0</string>
	<key>GCM_SENDER_ID</key>
	<string>661746596550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aurb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aurb-76255</string>
	<key>STORAGE_BUCKET</key>
	<string>aurb-76255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661746596550:ios:a6aa0c8ae4e318ea3f35c7</string>
</dict>
</plist>